.l-flex {
  display: flex;
}

.l-flex-col {
  display: flex;
  flex-direction: column;
}

.l-flex-1 {
  flex: 1;
}

.l-flex-between {
  display: flex;
  justify-content: space-between;
}

.l-flex-vc {
  display: flex;
  align-items: center;
}

.l-flex-hc {
  display: flex;
  justify-content: center;
}
